body{
    margin: 0;
    font-family: 'poppins',sans-serif;
}

h1{
    font-size: 40px;
}
.orange-highlight{
    color: orange
}
span:hover{
    width: 20px;
    font-size: 50px;
}
.half-width{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
}
p{
    font-size: 20px;
    text-align: justify;
}
a{
    text-decoration: none;
    background-image: linear-gradient(#ffa500,#ff6e3b);
    padding: 10px 30px;
    border-radius: 10px;
    color: aliceblue;
}
img{
    width: 100%;
    padding-top: 6%;
}
.top-banner{
    display: flex;
    background-image: url("image/bg8.jpg");
    background-repeat: no-repeat;
    background-size: 1320px;
    height: 500px;
}
.bottom-banner{
    display: flex;
    background-image: url("image/bg9.jpg");
    background-repeat: no-repeat;
    background-size: 1320px;
    height: 500px;
}
.experience-area{
    background-image: url("image/bg12.jpg");
    background-repeat: no-repeat;
    background-size: 1320px;
    height: 500px;
}

h2{
    font-size: 40px;
    padding-left: 10px;
    padding-top: 10px;
}

.experience-section{
    display: flex;
}

.experiences{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    padding-right: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-left: 5px solid;
    border-image: linear-gradient (green, cyan);
    border-image-slice: 1;
}

